{% extends 'layout.html' %}

{% block title %}
    Delete Product - GreenCart
{% endblock %}
{% block content %}
    <h1>Delete Product</h1>
    <h3 class="text-center text-danger">
        Are you sure you want to delete the product
        <strong>{{ product.name }}</strong>
        ?
    </h3>
    <form method="post" class="form text-center">
        <input type="submit" value="Delete" class="btn btn-danger">
    </form>
{% endblock %}
{% block styles %}
<style>
    h1 {
        text-align: center;
    }
    h3{
        height: 50%;
        margin: 32px auto;
    }
</style>
{% endblock %}